<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Data\TournamentTracker"/>
    <add key="greaterWins" value="1"/>
    <add key="emailSender" value="pszczolekw3@gmail.com"/>
    <add key="senderDisplayName" value="Tournament Tracker"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=KLIENT-KOMPUTER\SQLEXPRESS;Database=Tournaments;Trusted_Connection=True" providerName="Syste.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" userName="" password="" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>